spring:
  redis:
    host: 39.100.252.245
    port: 6379
    password: 123456
  datasource:
    username: root
    password: Aaaa1234567
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://127.0.0.1:3306/servicesilo?serverTimezone=UTC&useUnicode=true&characterEncoding=utf-8
    hikari:
      maximum-pool-size: 5
      minimum-idle: 5
      idle-timeout: 600000
      connection-timeout: 30000
      max-lifetime: 1800000
  rabbitmq:
    host: 161.97.120.57
    port: 5672
    username: admin
    password: admin
server:
  port: 8081
